In [1]:
import pandas as pd

In [2]:
data = [10, 20, 18, 22, 25, 19, 29, 14, 17, 21,]

In [3]:
data

[10, 20, 18, 22, 25, 19, 29, 14, 17, 21]

In [4]:
df = pd.DataFrame(data)

In [5]:
df

    0
0  10
1  20
2  18
3  22
4  25
5  19
6  29
7  14
8  17
9  21

In [6]:
df.median()

0    19.5
dtype: float64

In [7]:
df.mean()

0    19.5
dtype: float64

In [8]:
df.mode()

    0
0  10
1  14
2  17
3  18
4  19
5  20
6  21
7  22
8  25
9  29

In [9]:
df.describe()

               0
count  10.000000
mean   19.500000
std     5.359312
min    10.000000
25%    17.250000
50%    19.500000
75%    21.750000
max    29.000000

In [10]:
df.var()

0    28.722222
dtype: float64

In [11]:
df.std()

0    5.359312
dtype: float64